*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
release/
build/
.gradle/
local.properties
*.iml
.idea/
*.jks
*.keystore
.cxx/
.externalNativeBuild/
captures/
.DS_Store
Thumbs.db
**/credentials.properties
**/secrets.properties
